<section class="profile-detail">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="basic-information">
                    <div class="col-md-3 col-sm-3">
                     <img src="/assets/img/microsoft.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="profile-content">
                                <h2>{{company.companyName}}
                                    <span>{{company.groupOfCompanies}}</span>
                                </h2>
                                <p>Now Hiring(102)</p>
                                <ul class="information">
                                    <li><span>Address:</span>{{company.companyAddress}}</li>
                                    <li><span>Website:</span>{{company.companyWebsite}}</li>
                                    <li><span>Industry:</span>{{industryName}}</li>
                                    <li><span>Employee:</span>{{employeeStrenghtName}}</li>
                                    
                                    <!-- <li><span>From:</span>1998</li> -->
                                </ul>
                            </div>
                        </div>
                    <!-- <ul class="social">
                        <li><a href="" class="facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                        <li><a href="" class="google"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                        <li><a href="" class="twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li><a href="" class="linkedin"><i class="fa fa-linkedin"></i>Linked In</a></li>
                        <li><a href="" class="instagram"><i class="fa fa-instagram"></i>Instagram</a></li>
                    </ul> -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> About {{company.companyName}}
                        </div>
                                            <!-- /.panel-heading -->
                        <div class="panel-body">
                        <p>{{company.companyDescription}}</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-leaf fa-fw"></i> Jobs Posted:
                        </div>
                                            <!-- /.panel-heading -->
                        <div class="panel-body">
                        <p>Rapid growth since incorporation has triggered a chain of products, acquisitions and partnerships beyond Google's core search engine (Google Search).</p>
                        <ul>
                            <li>Software testing in a Web Applications/Mobile environment.</li>
                            <li>Software Test Plans from Business Requirement Specifications for test engineering group.</li>
                            <li>Software testing in a Web Applications environment.</li>
                            <li>Translate designs into responsive web interfaces</li>
                            <li>Software testing in a Web Applications/Mobile environment.</li>
                            <li>Software testing in a Web Applications environment.</li>
                            <li>Translate designs into responsive web interfaces</li>
                            <li>Software Test Plans from Business Requirement Specifications for test engineering group.</li>
                            <li>Run production tests as part of software implementation; Create, deliver and support test plans for testing group to execute.</li>
                            <li>Run production tests as part of software implementation; Create, deliver and support test plans for testing group to execute.</li>
                        </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-coffee fa-fw"></i> Inactive Jobs:
                        </div>
                                            <!-- /.panel-heading -->
                        <div class="panel-body">
                        <p>Rapid growth since incorporation has triggered a chain of products.</p>
                        <ul>
                            <li>Software testing in a Web Applications/Mobile environment.</li>
                            <li>Software Test Plans from Business Requirement Specifications for test engineering group.</li>
                            <li>Software testing in a Web Applications environment.</li>
                            <li>Translate designs into responsive web interfaces</li>
                            <li>Software testing in a Web Applications/Mobile environment.</li>
                            <li>Software testing in a Web Applications environment.</li>
                            <li>Translate designs into responsive web interfaces</li>
                            <li>Software Test Plans from Business Requirement Specifications for test engineering group.</li>
                            <li>Run production tests as part of software implementation; Create, deliver and support test plans for testing group to execute.</li>
                            <li>Run production tests as part of software implementation; Create, deliver and support test plans for testing group to execute.</li>
                        </ul>
                        </div>
                    </div>

             

                </div>
            </div>
        </div>
    </div>
</section>

