<nav class="navbar navbar-default navbar-sticky bootsnav">

    <div class="container">      
        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html"><img src="/assets/img/logo.png" class="logo" alt=""></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp" *ngIf="!isUserLoggedIn">
                    <li><a routerLink="">Home</a></li> 
                    <li ><a routerLink="signin">Login</a></li>
                    <li><a routerLink="signup">Register</a></li>
                    <li><a href="companies.html">Browse Jobs</a></li> 
                    <li><a href="companies.html">Browse Companies</a></li> 
                   
                </ul>
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp" *ngIf="isUserLoggedIn && userRole==='company'">
                    <li><a routerLink="">Home</a></li> 
                    <li ><a routerLink="signin">Dashboard</a></li>
                    <li><a routerLink="signup">Add Job</a></li>
                    <li><a routerLink="signup">Profile</a></li>
                    <li><a href="companies.html">Browse Jobs</a></li> 
                    <li><a routerLink="logout">Logout</a></li> 
                   
                </ul>
        </div><!-- /.navbar-collapse -->
    </div>   
</nav>

